html, body {
  font-size: $FontSizeGeneral;
}
body {
  box-sizing: border-box;
  overflow-wrap: break-word;
  margin: 0;
  font-family: "Open Sans", Arial, sans-serif;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased; 
  background-color: $DarkBlueMain;
}

.text{
  color: $Gray;
  font-size: 1rem;
}
.title, .nav, .header {
  font-family: 'Raleway', Arial, sans-serif;
} 
.header, .nav {
  font-weight: 400;
}
.title {
  font-size: 24.5px;
  font-weight: 700;
  color: $White;
}

@media screen and (min-width: $media_lg) {
  .title{
    font-size: 28px;
  }
}