
@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-Regular.ttf') format('ttf');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-Bold.ttf') format('ttf');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Raleway';
  src: url('../assets/fonts/Raleway-Regular.ttf') format('ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Raleway';
  src: url('../assets/fonts/Raleway-Bold.ttf') format('ttf');
  font-style: normal;
  font-weight: 700;
}