
//Colors primary
$DarkBlueIntro : hsl(217, 28%, 15%);
$DarkBlueMain : hsl(218, 28%, 13%);
$DarkBlueFooter : hsl(216, 53%, 9%);
$DarkBlueBack: hsl(219, 30%, 18%);

//Accent
$Cyan : hsl(176, 68%, 64%);
$Blue : hsl(198, 60%, 50%);
$LightRedError : hsl(0, 100%, 63%);

//Neutral
$White: hsl(0, 0%, 100%);
$Gray: #A4ADBE;

//Typography
$FontSizeGeneral: 14px;

//Media Queries
$media_xs : 375px;
$media_sm : 576px;
$media_md : 768px;
$media_lg : 992px;
$media_xl : 1200px;
$media_xxl : 1400px;


